<div class="mat-headline">Encuesta</div>

<form [formGroup]="encuestaForm" (ngSubmit)="onSubmit()">
<mat-vertical-stepper #stepper>
    <mat-step>
        <ng-template matStepLabel>Evocación de palabras</ng-template>      
        <p>Por favor, indicanos qué palabras o frases se te vienen a la mente cuando te decimos "<strong>inteligencia artificial</strong>"</p>
        <div formArrayName="aliases">
            <div *ngFor="let palabras of aliases.controls; let i=index">
                <mat-form-field>
                    <input matInput placeholder="Palabra {{i+1}}" [formControlName]="i" minlength="3">
                </mat-form-field>
            </div>
            <button mat-button color="primary" (click)="addAlias()">Agregar otra palabra</button>
        </div>
        <div>
            <button mat-raised-button matStepperNext color="primary">Siguiente</button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Evaluación de palabras</ng-template>
        <p>Por favor, indicanos cuán positivas o negativas te parecen las siguientes palabras, cuando se refieren a "<strong>inteligencia artificial</strong>"</p>

        <div *ngFor="let valores of valoracionesTxt; let j=index">
            <label>Palabra: <strong>{{valores}}</strong></label>
            <div>
                Muy negativo (0/10)
                <mat-slider thumbLabel tickInterval="1" min="0" max="10" value="5"></mat-slider>
                Muy positivo (10/10)        
            </div>    
        </div>

        <div>
            <button mat-raised-button matStepperPrevious color="primary">Volver</button>
            <button mat-raised-button matStepperNext color="primary">Siguiente</button>
        </div>

    </mat-step>

    <mat-step>
        <div formGroupName="sociodemo">
        <ng-template matStepLabel>Datos sociodemográficos</ng-template>        
            <div>
            <mat-form-field>
                <input matInput placeholder="Edad (en años)" formControlName="edad" required>
            </mat-form-field>
            </div>
            <div>
            <mat-form-field>
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="sexo" required>
                    <mat-option value="mujer">Mujer</mat-option>
                    <mat-option value="varon">Varon</mat-option>                
                    <mat-option value="otro">Otro</mat-option>
                </mat-select>
            </mat-form-field>
            </div>

            <p>Eso es todo! Muchas gracias!</p>
            <button mat-raised-button color="accent" type="submit" [disabled]="!encuestaForm.valid">Enviar</button>
        </div>
    </mat-step>    

</mat-vertical-stepper>      
</form>