<div class="presentacion">
    <div class="mat-headline">Tema: <span class="estimulo_titulo">{{estimulo}}</span></div>
    <!-- <div class="mat-headline">¿En qué pensas cuando te dicen "<span class="estimulo_titulo">{{estimulo}}</span>"?</div> -->
    <p>Un grupo de estudio e investigación conformado por investigadores y docentes de la Universidad de Buenos Aires, Universidad Abierta Interamericana, y la Universidad Nacional de Quilmes está llevando a cabo una breve encuesta acerca de nuevas tecnologías, qué significados adquieren para los distintos grupos sociales, y cómo impactan en nuestras vidas.</p>
    <p>Esta encuesta está destinada a <strong>estudiantes o graduados recientes (últimos 3 años) de terciarios y universidades, de cualquier carrera y nivel de Argentina</strong>.</p>
    <p>Responderla lleva menos de 3 minutos y lo podés hacer tanto desde tu celular como desde una computadora. Las respuestas son anónimas y los resultados serán utilizados exclusívamente para fines académicos.</p>
</div>

<div class="encuesta">

    <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
        <mat-vertical-stepper #stepper>

            <mat-step>
                <ng-template matStepLabel>Test de evocación</ng-template>      
                <p>Por favor, indicanos qué palabras o frases te vienen a la mente en relación a <span class="estimulo_titulo">{{estimulo}}</span>, e indicanos si para vos tienen un sentido positivo o negativo utilizando el deslizador.</p>                                    
                <div *ngFor="let term of t.controls; let i = index" class="list-group list-group-flush">
                    <div class="list-group-item">
                        <div [formGroup]="term" class="form-row">
                            <div class="form-group col-6">
                                <input type="hidden" formControlName="orden" [ngModel]="i + 1">
                                <label>Palabra {{i+1}}</label>: &nbsp;
                                <mat-form-field>
                                    <input matInput placeholder="Palabra {{i+1}}" formControlName="palabra" minlength="2" maxlength="50" pattern="[a-zA-Z ]*">
                                    <mat-hint>(Solo letras y espacios)</mat-hint>

                                    <!-- falta validacion (solo alfa?) / como es un control dinamico, no logro invocarlo -->
                                    <!-- <mat-error *ngIf="palabra.hasError('required')">
                                            This field is required
                                        </mat-error>                                             -->
                                    <!-- <div *ngIf="dynamicForm.term[i].palabra.errors.pattern">Por favor, ingresá solo letras y espacios (no se aceptan símbolos y números)</div> -->

                                </mat-form-field>                
                                <div class="superSlider">
                                    Negativo 
                                    <mat-slider thumbLabel tickInterval="1" min="0" max="10" value="5" formControlName="valoracion"></mat-slider>
                                    Positivo
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <div><button mat-button color="primary" (click)="agregarCampos(1)" type="button">Agregar otra palabra</button></div>
                <div><button mat-raised-button matStepperNext type="button" color="primary">Siguiente (tus datos sociodemográficos)</button></div>
            </mat-step>

            <mat-step>
                <div formGroupName="sociodemo">
                <ng-template matStepLabel>Tus datos sociodemográficos</ng-template>        
                    <div>
                    <mat-form-field>
                        <input matInput placeholder="Edad (en años)" formControlName="edad" required minlength="1" maxlength="2">
                    </mat-form-field>
                    </div>
                    <div>
                    <mat-form-field>
                        <mat-label>Sexo</mat-label>
                        <mat-select formControlName="sexo" required>
                            <mat-option value="mujer">Mujer</mat-option>
                            <mat-option value="varon">Varon</mat-option>                
                            <mat-option value="otro">Otro</mat-option>
                        </mat-select>
                    </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Máximo nivel de estudio</mat-label>
                            <mat-select formControlName="nivel_estudios" class="selLargo" required>
                                <mat-option value="uni_curso">Universitario en curso</mat-option>
                                <mat-option value="uni_completo">Universitario completo</mat-option>                
                                <mat-option value="posgrado_curso">Posgrado en curso</mat-option>
                                <mat-option value="posgrado_completo">Posgrado completo</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>        
                    <div>
                        <mat-form-field>
                            <mat-label>Carrera / Area de estudios</mat-label>
                            <mat-select [(value)]="selectedValue" formControlName="carrera" class="selLargo" required>
                            <mat-option>None</mat-option>
                            <mat-optgroup *ngFor="let c of carreras" label="{{c.text}}">
                                <mat-option *ngFor="let cc of c.children" value="{{cc.text}}">{{cc.text}}</mat-option>
                            </mat-optgroup>
                            </mat-select>
                        </mat-form-field>                                
                    </div>
                    <div>
                        <p>¿A través de qué medios te informas sobre <span class="estimulo_titulo">{{estimulo}}</span>?</p>
                        <p>
                            <mat-checkbox formControlName="medios_formacion">Formación universitaria o de posgrado</mat-checkbox><br />
                            <mat-checkbox formControlName="medios_cursos">Cursos por fuera de tu carrera</mat-checkbox><br />
                            <mat-checkbox formControlName="medios_sitios">Posteos, sitios y tutoriales</mat-checkbox><br />
                            <mat-checkbox formControlName="medios_diarios">Diarios y sitios de noticias</mat-checkbox></p>
                        <p>
                            <label>Por favor, nombrá el principal medio seleccionado: </label>
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="medio" placeholder="E.j., Clarín, Stack Overflow">
                            </mat-form-field>                            
                        </p>
                    </div> 
                    <div>
                        <button mat-raised-button matStepperPrevious color="primary">Volver al test de evocación</button>    
                    </div>
                    <div>
                        <p>Eso es todo! Muchas gracias!</p>
                        <button mat-raised-button color="accent" type="submit" [disabled]="!dynamicForm.valid">Enviar</button>
                        <div *ngIf="!dynamicForm.valid">(Hay campos obligatorios sin completar marcados en rojo)</div>
                    </div>
                </div>
            </mat-step>    
        </mat-vertical-stepper>     
    </form>

</div>