<div class="mat-headline">Bienvenido!</div>
<div class="content">
    <p>Nuestro grupo de estudio sobre big data y ciencias sociales está llevando a cabo una breve encuesta acerca de <strong>nuevas tecnologías</strong>.</p>
    <p>Esta encuesta está destinada a <strong>estudiantes terciarios o universitarios (de cualquier carrera) de Argentina</strong>.</p>
    <p>La encuesta es anónima. Responderla lleva sólo unos minutos y lo podés hacer tanto desde tu celular como desde una computadora.</p>
    <p>La encuesta tiene 3 simples pasos: <br />
        1) Te ofrecemos una palabra (por ejemplo, "inteligencia artificial") y nos gustaría saber cuáles 5 palabras te vienen a la mente.<br />
        2) Te ofrecemos 5 palabras relacionadas con la anterior y nos gustaría que las evalúes en términos positivos o negativos.<br />
        3) Te preguntaremos qué carrera estudias y otros datos muy breves.
    </p> 
    <p>Tu respuesta nos ayudará a conocer el impacto social de estas nuevas tecnologías. La encuesta es anónima y los resultados serán utilizados con fines académicos.</p>
    <button mat-raised-button color="accent" routerLink="/survey">Comenzar!</button>
</div>
